
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
[Rr]elease*/
*.lib
*.sbr
obj/
*.sdf
*.sdp
*.o
*.exp
[Ll]ogs*/
[Pp]rivate*/
*.user
*.264
*.ts
*.m3u8
*.ipch
*.dep.inc
*.opensdf
*.doc
*.suo
*.log
*.ipch
/EasyIPCamera_RTSP/build/
/EasyIPCamera_RTSP/dist/